<h5>{{bill.official_title}}</h5>
{{#if details}}
    <h5>Sponsor: {{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</h5>
    <h5>Bill Introduced on: {{bill.introduced_on}}</h5>
    <h5>Link To Bill: <a href={{bill.urls.govtrack}}>{{bill.bill_id}}</a></h5>
  <br>
  <button {{action "hideDetails"}}>Hide Info</button>
{{else}}
  <button {{action "showDetails"}}>Show Info</button>
{{/if}}
